<table width="100%"><tr>
        <td BGCOLOR="ffcc99">
          <h1><font color="red">#</font><i>To do list...</i></h1>
        </td>
      </tr>

<table width="100%">
  <thead>
    <tr>
      <th align="left">Title</th>
      <th align="left">State</th>
      <th colspan="11"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Show ?', task %></td>
        <td><%= link_to 'Edit ?', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy ?', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Buat tugasan baru?', new_task_path %>
